{{ define "main" }}
<div class="page-container">
    <header class="page-header">
        <h1>{{ .Title }}</h1>
        <p class="meta">Every author published in JANES, listed alphabetically, with links to their articles.</p>
    </header>

    <div class="toc-list">
        {{ range .Site.Data.authors }}
        <article class="toc-item">
            <h3 class="article-title">{{ .lastname }}, {{ .firstname }}</h3>
            <ul class="author-article-list">
                {{ range .articles }}
                <li>
                    <a href="{{ .url | relLangURL }}">{{ .title }}</a>
                    <span class="article-author">{{ .volume }}</span>
                </li>
                {{ end }}
            </ul>
        </article>
        {{ end }}
    </div>
</div>
{{ end }}
